:root {
  --accent-color-1: #2EC0F9;
  --accent-color-2: #6771f9;
  --secondary-color-1: #050c23;
  --primary-color-1: #fff;

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.25rem;

  --radius-s: .5rem;
  --radius-m: 1rem;

  --font-sz-s: 0.75rem;
  --font-sz-m: 1rem;
  --font-sz-l: 1.5rem;
  --font-sz-xl: 2rem;
}