.list {
  display: grid;
  grid-gap: var(--space-m);
  grid-template-columns: repeat(6, minmax(6rem, 1fr));
  
  @media (max-width: 70rem){
    grid-template-columns: repeat(5, minmax(6rem, 1fr));
  }

  @media (max-width: 57.99rem){
    grid-template-columns: auto;
    flex-grow: 1;
    grid-auto-flow: column;
    grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
    overflow: auto;
    margin: 0;
    margin-top: var(--space-l);
  }

  @media (min-width: 58rem){
    margin-left: var(--space-l);
  }
}